.DS_Store
.RData
.Rapp.history
.Rhistory
.localized
.DS_Store
.RData
.Rapp.history
.Rhistory
.localized
*.ris
*.pdf
*.twbx
*.docx
*.nbib
*.png
*.jpeg
*.heic
*.jpg
*.dmg
*.zip
*.xls
*.xlsx
*.pptx
*.mkv
*.csv
*.rds
*.rmd
*.txt
*.html
*.pptx
*.doc
*.dta
